## Which machine is your central manager?
CONDOR_HOST = {{ condor_masuex__master_fqdn }}
use role:get_htcondor_{{ condor_masuex__condor_role }}

##  When is this machine willing to start a job?
START = TRUE && (NodeDisabled =!= true)

IS_OWNER = FALSE

##  When to suspend a job?
SUSPEND = FALSE

##  When to nicely stop a job?
##  (as opposed to killing it instantaneously)
PREEMPT = FALSE

##  When to instantaneously kill a preempting job
##  (e.g. if a job is in the pre-empting stage for too long)
KILL = FALSE

##  This macro determines what daemons the condor_master will start and keep its watchful eyes on.
##  The list is a comma or space separated list of subsystem names
# DAEMON_LIST = MASTER, STARTD

##  Sets how often the condor_negotiator starts a negotiation cycle.
##  It is defined in seconds and defaults to 60 (1 minute).
NEGOTIATOR_INTERVAL = 20

TRUST_UID_DOMAIN = TRUE

#################################
## Added for iPlant Collaborative
#################################
CONDOR_ADMIN        = {{ condor_masuex__condor_admin }}
UID_DOMAIN          = {{ condor_masuex__condor_uid_domain }}
FILESYSTEM_DOMAIN   = {{ condor_masuex__condor_filesystem_domain }}
COLLECTOR_NAME      = {{ condor_masuex__condor_collector_name }}
ALLOW_READ          = {{ condor_masuex__condor_allow_read | join(',') }}
ALLOW_WRITE         = {{ condor_masuex__condor_allow_write | join(',') }}
HIGHPORT            = 65535
LOWPORT             = 61440
ASSIGN_CPU_AFFINITY = True

NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1 = cpus=100%
SLOT_TYPE_1_PARTITIONABLE = true

SLOT_WEIGHT = 1

IplantSpeedIndex = 10
STARTD_ATTRS = $(STARTD_ATTRS) IplantSpeedIndex

HAS_CYVERSE_ROAD_RUNNER = True
STARTD_ATTRS = $(STARTD_ATTRS) HAS_CYVERSE_ROAD_RUNNER
MaxVacateTime = 60 * $(MINUTE)

MAX_TRANSFER_OUTPUT_MB = -1
TRANSFER_IO_BUFFER_SIZE = 1048576
TRANSFER_RETRY_COUNT = 3
NETWORK_SOCKET_TIMEOUT = 300
